---
import lost from "@/assets/404.jpg";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
	description: "It looks like this page is lost in space",
	title: "404 | You have found a lost page",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">404 | Page not found</h1>
	<p class="mb-8">This page does not exist. Use the navigation to find your way back.</p>
	<p class="mb-8">Or you can stay here...</p>
	<div class="my-4 grid justify-center">
		<Image
			alt="guy sitting on swing alone"
			loading="eager"
			src={lost}
		/>
	</div>
</PageLayout>
