---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			I am a student in Texas. I'm aiming towards a career in the field of software and/or IT.
			<br>I also write a lot about theology and Christian living.
		</p>
		<h2 class="title mb-4 text-xl">About This Website</h1>
		<p>
			This website is built with <a href="https://astro.build" class="cactus-link">Astro</a> using the <a href="https://github.com/chrismwilliams/astro-theme-cactus" class="cactus-link">Astro Cactus theme</a> and hosted on Github Pages. 
			<br><a href="https://github.com/Prokid64/ghwebsite" class="cactus-link">The code is open-source;</a> feel free to fork or clone the code to make your own Astro website or theme.
		</p>
		<!-- <p>
			Clone or fork my <a
				aria-label="github repository"
				class="cactus-link inline-block"
				href="https://github.com/chrismwilliams/astro-cactus"
				rel="noopener noreferrer"
				target="_blank">repo</a
			> if you like me!
		</p> -->
	</div>
</PageLayout>
